<section class="third-section <%= color %>">
    <div class="informations-command">
        <div class="information-command">
            <img class="<%= color %>" src="/images/securePayment.png"/>
            <span>Paiement sécurisé</span>
            <p>Paiement 100% sécurisé de vos achats de CBD, grâce à notre partenaire Banque Populaire. Vos données sont sécurisées, alors pourquoi se priver des meilleurs produits de CBD ? CBD.fr votre référence en matière de cbd en France</p>
        </div>
        <div class="information-command">
            <img class="<%= color  %>" src="/images/securePayment.png"/>
            <span>Paiement sécurisé</span>
            <p>Paiement 100% sécurisé de vos achats de CBD, grâce à notre partenaire Banque Populaire. Vos données sont sécurisées, alors pourquoi se priver des meilleurs produits de CBD ? CBD.fr votre référence en matière de cbd en France</p>
        </div>
        <div class="information-command">
            <img class="<%= color %>" src="/images/securePayment.png"/>
            <span>Paiement sécurisé</span>
            <p>Paiement 100% sécurisé de vos achats de CBD, grâce à notre partenaire Banque Populaire. Vos données sont sécurisées, alors pourquoi se priver des meilleurs produits de CBD ? CBD.fr votre référence en matière de cbd en France</p>
        </div>
        <div class="information-command">
            <img class="<%= color  %>" src="/images/securePayment.png"/>
            <span>Paiement sécurisé</span>
            <p>Paiement 100% sécurisé de vos achats de CBD, grâce à notre partenaire Banque Populaire. Vos données sont sécurisées, alors pourquoi se priver des meilleurs produits de CBD ? CBD.fr votre référence en matière de cbd en France</p>
        </div>
    </div>
    <a class="ancre-flower">
        <span>Voir toutes nos fleurs</span>
        <img src="/images/arrow-black-right.png"/>
    </a>

</section>